
<h1>Angular Router</h1>
<br>

<nav class="link">
  
  <button routerLink="/" routerLinkActive="active" >Home</button>
  <button routerLink="/autocomplete" routerLinkActive="active" >Autocomplete</button>
  <button routerLink="/badge" routerLinkActive="active">Badge</button>
  <button routerLink="/bottomsheet" routerLinkActive="active">Bottom-sheet</button>
  <button routerLink="/button" routerLinkActive="active">Button</button>
  <button routerLink="/buttontoggle" routerLinkActive="active">Button Toggle</button>
  <button routerLink="/card" routerLinkActive="active">Card</button>
  <button routerLink="/checkbox" routerLinkActive="active">Checkbox</button>
  <button routerLink="/chips" routerLinkActive="active">Chips</button>
  <button routerLink="/datapicker" routerLinkActive="active">Datepicker</button>
  <button routerLink="/dialog" routerLinkActive="active">Dialog</button>
  <button routerLink="/divider" routerLinkActive="active">Divider</button>
  <button routerLink="/expansionpanel" routerLinkActive="active">Expansion Panel</button>
  <button routerLink="/formfield" routerLinkActive="active">Form Field</button>
  <button routerLink="/girdlist" routerLinkActive="active">Gird List</button>
  <button routerLink="/icon" routerLinkActive="active">Icon</button>
  <button routerLink="/input" routerLinkActive="active">Input</button>
  <button routerLink="/list" routerLinkActive="active">List</button>
  <button routerLink="/menu" routerLinkActive="active">Menu</button>
  <button routerLink="/paginator" routerLinkActive="active">Paginator</button>
  <button routerLink="/progressbar" routerLinkActive="active">Progress Bar</button>
  <button routerLink="/progressspinner" routerLinkActive="active">Progress Spinner</button>
  <button routerLink="/radiobutton" routerLinkActive="active">Radiobutton</button>
  <button routerLink="/ripples" routerLinkActive="active">Ripples</button>
  <button routerLink="/select" routerLinkActive="active">Select</button>
  <button routerLink="/sidenav" routerLinkActive="active">Sidenav</button>
  <button routerLink="/slidetoggle" routerLinkActive="active">Slide Toggle</button>
  <button routerLink="/slider" routerLinkActive="active">Sider</button>
  <button routerLink="/snackbar" routerLinkActive="active">Snack Bar</button>
  <button routerLink="/sortheader" routerLinkActive="active">Sort Header</button>

  

</nav>
<router-outlet></router-outlet>
<br>
<br>